{% extends 'base_front.html.twig' %}

{% block title %}Hospitalisation{% endblock %}

{% block sejour %}
    <h1>Créer  Hospitalisation</h1>

    {{ include('hospitalisation/_form.html.twig') }}

    <a href="{{ path('app_hospitalisation_index') }}">back to list</a>
{% endblock %}
