{% extends 'base-front.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <h1>Register</h1>

     {{form_start(loginForm,{'attr':{'novalidate' : 'novalidate'}} )}}
      
       
        {{ form_row(loginForm.email) }}
        {{ form_row(loginForm.plainPassword, {
            label: 'Password'
        }) }}
    
        <button type="submit" class="btn">Login</button>
    {{ form_end(loginForm) }}
{% endblock %}
