{% extends 'base-front.html.twig' %}

{% block title %}Affichage Materiel {% endblock %}

{% block body %}
    <h1>Materiel </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id materiel</th>
                <th>Libelle</th>
                <th>Type</th>
                <th>Prix achat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for materiel in materiels %}
            <tr>
                <td>{{ materiel.id_Mat }}</td>
                <td>{{ materiel.libelle }}</td>
                <td>{{ materiel.type }}</td>
                <td>{{ materiel.prixAchat }}</td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}

