{% extends 'back.html.twig' %}

{% block title %}New Materiel{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau Materiel</h1>

    {{ include('materiel/_form.html.twig') }}

    <a href="{{ path('app_materiel_index') }}">Retour a la liste</a>
{% endblock %}
