{% extends 'base_back.html.twig' %}
{% block edit %}
{% block title %}New Services{% endblock %}


    <h1>Create new Services</h1>

    {{ include('services/_form.html.twig') }}

    <a href="{{ path('app_services_index') }}">back to list</a>
{% endblock %}
